
[PARAMETER]

#String
QSO_evolution           = None
data_auto               = cf_dla_forfit.fits.gz
data_autoQSO            = None
data_cross              = None
dnl_model               = mcdonald
metal_prefix            = met_dmat.fits.gz
model                   = /uufs/astro.utah.edu/common/uuastro/astro_data/kdawson/bautista/software/picca/py/picca/fitter/models/PlanckDR12/PlanckDR12.fits
output_prefix           = test

#List of strings
chi2Scan                = None
fastMonteCarlo          = None
fix                     = None
free                    = None
gaussian_prior          = None
limit                   = None
metals                  = SiII(1190) SiII(1193) SiIII(1207) SiII(1260)
minos                   = None

#Bool
#2d                      = False
#bb_rPerp_rParal         = False
#bb_rmu                  = False
#debug                   = False
#different_drp           = False
#distort_bb_auto         = False
#distort_bb_cross        = False
#fit_aiso                = False
#fit_qso_radiation_model = False
#fix_bias_beta_peak      = False
hcds                    = True
#hcds_mets               = False
metal_dmat              = True
#metal_xdmat             = False
#no_hesse                = False
uv                      = True
#velo_gauss              = False
#velo_lorentz            = False
verbose                 = True

#Int
bb_ell_max              = 6
bb_ell_min              = 0
bb_ell_step             = 2
bb_i_max                = 3
bb_i_min                = 0
bb_i_step               = 1
ell_max                 = 6

#Float
1+epsilon               = 1.0
1+f                     = 1.0
L0_lls                  = 16.3310821615
Lpar_auto               = 4.0
Lpar_autoQSO            = 4.0
Lpar_cross              = 4.0
Lper_auto               = 5.82418042177
Lper_autoQSO            = 4.0
Lper_cross              = 4.0
SigmaNL_perp            = 0.0
aiso                    = 1.0
alpha_SiII(1190)        = -0.1801662974282160
alpha_SiII(1193)        = 0.289263476911
alpha_SiII(1260)        = 10.7849339151
alpha_SiIII(1207)       = 9.15871145671
alpha_lya               = 2.9
ap                      = 1.07645447805
at                      = 0.954536718439
bao_amp                 = 1.0
beta_SiII(1190)         = 0.189193291402
beta_SiII(1193)         = 0.134044137735
beta_SiII(1260)         = -0.1377610741700147
beta_SiIII(1207)        = 0.59812996753
beta_lls                = 1.24698951981
beta_lya                = 1.38758636605
beta_lya_peak           = 1.4
bias_SiII(1190)         = -0.0082190826539579
bias_SiII(1193)         = -0.0083738165820178
bias_SiII(1260)         = -0.0065772223966705
bias_SiIII(1207)        = -0.0102467231032490
bias_gamma              = 0.12832033685
bias_lls                = -0.0123028979318706
bias_lya*(1+beta_lya)   = -0.3299419345080942
bias_lya_peak           = -0.1400000000000000
bias_prim               = -0.6465753135449065
bias_qso                = 3.0
bin_size                = 4.0
drp                     = 0.0
drp_SiII(1190)          = 0.0
drp_SiII(1193)          = 0.0
drp_SiII(1260)          = 0.0
drp_SiIII(1207)         = 0.0
growth_rate             = 0.962524
lambda_uv               = 289.057760725
migrad_tol              = 0.1
mumax                   = 1.0
mumin                   = -1.0000000000000000
qso_evol_0              = 0.53
qso_evol_1              = 0.289
qso_metal_boost         = 1.0
qso_rad_asymmetry       = 0.5
qso_rad_decrease        = 244.0
qso_rad_lifetime        = 29.0
qso_rad_strength        = 0.42
r_par_max               = nan
r_par_min               = nan
r_per_max               = nan
r_per_min               = nan
rmax                    = 180.0
rmin                    = 10.0
sigma_minos             = 1.0
sigma_velo_gauss        = 0.0
sigma_velo_lorentz      = 0.0

